{% extends 'base.html' %}

{% block app_content %}
    {% if messages %}
        {% for message in messages %}
        <div style="display: flex; justify-content: center;">
            <div class="card text-white bg-dark" style="width: 100rem; margin-top: 1rem;">
                <div class="card-body">
                    <p class="card-text">{{ message.decode('utf-8') }}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    {% else%}
        <div style="display: flex; justify-content: center;">
            <div class="card text-white bg-dark" style="width: 14rem; margin-top: 1rem;">
                <div class="card-body">
                    <p class="card-text">No messages</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}